.maintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
A.maintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration:none;
}
A.maintext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #cccccc;
}
.footertext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
A.footertext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:none;
}
A.footertext:Hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #636A82;
}
.quotetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #cccccc;
}

.maintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
A.maintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration:none;
}
A.maintext:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #cccccc;
}
.footertext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
A.footertext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:none;
}
A.footertext:Hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #636A82;
}
.quotetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #cccccc;
}

